<!DOCTYPE html>
<head>
  <title>Kinderspiel Des Jahres</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rosarivo">
  <link href="../style/main.css" rel="stylesheet">
  <script type="text/javascript" src="../javascript/kinderspiel.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    div > h1, h1~h2 {
      font-family: 'Rosarivo';
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand active" href="../index.html">Homepage</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="./spiel.html">Spiel des Jahres</a></li>
      <li><a href="./kinderspiel.html">Kinderspiel des Jahres</a></li>
      <li><a href="./kennerspiel.html">Kennerspiel des Jahres</a></li>
      <li class="form-group">
        <input type="search" class="form-control" id="search" placeholder="Search BGG">
      </li>
    </ul>
  </nav>
  <div class="jumbotron text-center">
    <h1>Kinderspiel des Jahres</h1>
    <h2>Children's Game of the Year</h2>
  </div>
  <div class="container">
    <h2>Kinderspiel des Jahres Winners, Nominees and Recommendations</h2>
    <p>(Database includes Winners and Nominees from 2013-2022 and Recommendations from Years 2021-2022)</p>
    <div id="filterSection">
      <div><input class="form-control" style="width:30rem;height:100%" id="filter" type="text" placeholder="Search through the below table:"/></div>
      <div>
        <select style="width:15rem" class="form-control" id="status" placeholder="Status" title="filterStatus">
          <option>All Statuses</option>
          <option>Winners</option>
          <option>Nominees</option>
          <option>Recommended</option>
        </select>
      </div>
      <select class="form-control" id="select" placeholder="Year" title="filterYear">
        <option>All Years</option>
      </select>
    </div>
    <table class="table" id="games">
      <tr class="headerRow">
        <th>Image</th>
        <th>Game Name</th>
        <th>Status</th>
        <th>BGG Rating</th>
        <th>Award Year</th>
      </tr>
    </table>
  </div>
</body>